In [1]:
import numpy as np
import pandas as pd

In [2]:
# read data, lack of info about directors
movies = pd.read_csv("../dataset/movies.csv")
ratings = pd.read_csv("../dataset/ratings.csv")
keywords = pd.read_csv("../dataset/tags.csv")

In [4]:
# movies: genres, title, time the movie came out
movies["mtitle"] = list(map(lambda x: x[:-7],movies["title"]))
movies["time"] = list(map(lambda x: x[-5:-1],movies["title"].fillna("    ")))
movies["genres"] = list(map(lambda x: x.replace("|"," "),movies["genres"].fillna("    ")))
movies["genres"] = list(map(lambda x: x.replace("(no genres listed)"," "),movies["genres"].fillna("    ")))

In [5]:
# keywords: all keywords for each movie into one string, change to lowercase without space
keywords["keywords"] = list(map(lambda x: x.replace(" ","").lower(),keywords["tag"].fillna("")))
keyword = keywords.groupby('movieId')["keywords"].apply(lambda x:"%s" % ' '.join(x)).reset_index()

In [6]:
# ratings
rating = (ratings.groupby('movieId')["rating"].mean()).reset_index()
rating["rating"]= list(map(lambda x: str(round(x)),rating["rating"]))

In [22]:
# join the features: title,genres, time, keyword, ratings
a= pd.merge(movies,rating,on = "movieId",how = "left")
prefinal = pd.merge(a,keyword, on = "movieId",how = "left")

In [39]:
# try to combine all the selected features into one string: time,rating,keywords,genres
prefinal.head()
# prefinal.to_csv("/Users/apple/Desktop/prefinal.csv",index=False)
features = ["time","rating","genres","keywords"]
for feature in features:
    prefinal[feature] = prefinal[feature].fillna("")
        
# def combine_features(row):
#     return row["time"]+" "+row["rating"]+" "+row["genres"]+ " "+ row["keywords"]

# def combine_features(row):
#     return row['title'] + " | " + row['keywords'] + " | " + row['genres']
#    return row['title'] + " | " + row['genres']
def combine_features(row):
    rows = row['mtitle'] + row["time"]+" "+row["rating"]+" "+row["genres"]+ " "+ row["keywords"]
    rowr = np.unique(list(rows.split()))
    return row['mtitle'] + " | " + " ".join(rowr)

prefinal["combine_features"] = prefinal.apply(combine_features,axis=1)

In [41]:
# write csv after combine all the features into one string

prefinal.to_csv("../cleaned/final.csv", index=False)

In [40]:
prefinal.head()

,movieId,title,genres,mtitle,time,rating,keywords,combine_features
0,1,Toy Story (1995),Adventure Animation Children Comedy Fantasy,Toy Story,1995,4,animation fun animation children toys itaege a...,Toy Story | 2009reissueinstereoscopic3-d 3d 4 ...
1,2,Jumanji (1995),Adventure Children Fantasy,Jumanji,1995,3,itaege fantasy timetravel children kidflick bo...,Jumanji | 3 Adventure Children Fantasy Jumanji...
2,3,Grumpier Old Men (1995),Comedy Romance,Grumpier Old Men,1995,3,sequel funniestmovies moldy old clv jacklemmon...,Grumpier Old Men | 3 Comedy Grumpier Men1995 O...
3,4,Waiting to Exhale (1995),Comedy Drama Romance,Waiting to Exhale,1995,3,chickflick revenge clv characters girlmovie ch...,Waiting to Exhale | 3 Comedy Drama Exhale1995 ...
4,5,Father of the Bride Part II (1995),Comedy,Father of the Bride Part II,1995,3,humorous stevemartin dianekeaton family sequel...,Father of the Bride Part II | 3 Bride Comedy F...

In [28]:
prefinal.iloc[0]['combine_features']

"1995 2009reissueinstereoscopic3-d 3d 4 55movieseverykidshouldsee--entertainmentweekly Adventure Animation Children Comedy Fantasy action actionfigure actionfigures adventure almostfavorite americananimation animated animation avi bd-video bestofrottentomatoes:alltime bright buddymovie buy buzzlightyear cartoon cganimation cgi cgiclassic children childrencartoon classic clever clv comedy computeranimation cowboy cute daringrescues digital dinosaur disney disneyanimatedfeature dolls dvd-video engaging erlend'sdvds excitingplot family familyfilm fanciful fantasy feel-good firstcgifilm friendship fun funfamilymovie funny funnylines goodanimation goodcartoonchindren goodtime greatmovie heroicmission humorous imdbtop250 innovative itaege johnlasseter kids kidsandfamily kidsmovie light lighthearted lotsofheart lovablecharacters nationalfilmregistry nostalgic pixar pixaranimation rated-g rousing sci-fi soothing story theboys timallen timetravel tomhanks touchingstory toy toys toyscometolife tumey'stoseeagain tumey'svhs tã©aleonidoesnotstarinthismovie unlikelyfriendships usa verygood villianhurtstoys voiceacting want wanttoseeagain warm watched whimsica witty woody yaboy é˜®ä¸€é¸£"

In [3]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [7]:
ratings.head(30)

    userId  movieId  rating   timestamp
0        1      169     2.5  1204927694
1        1     2471     3.0  1204927438
2        1    48516     5.0  1204927435
3        2     2571     3.5  1436165433
4        2   109487     4.0  1436165496
5        2   112552     5.0  1436165496
6        2   112556     4.0  1436165499
7        3      356     4.0   920587155
8        3     2394     4.0   920586920
9        3     2431     5.0   920586945
10       3     2445     4.0   920586945
11       4       16     4.0  1037740142
12       4       39     4.0  1037740562
13       4       45     4.0  1037808019
14       4       47     2.0  1037739998
15       4       94     5.0  1037740486
16       4      101     4.0  1037737327
17       4      246     4.0  1037739164
18       4      288     2.0  1037737415
19       4      296     4.0  1037741922
20       4      345     4.0  1037740486
21       4      356     2.0  1037807918
22       4      357     4.0  1037740097
23       4      377     4.0  1037740660
24       4      417     4.0  1037737271
25       4      440     4.0  1037740330
26       4      457     4.0  1037807690
27       4      480     2.0  1037737218
28       4      492     3.0  1037740309
29       4      508     2.0  1037807370

In [6]:
keywords.head(30)

    userId  movieId                       tag   timestamp
0       19     2324               bittersweet  1428651158
1       19     2324                 holocaust  1428651112
2       19     2324              World War II  1428651118
3       23     7075                 hilarious  1378675786
4       23     7075                Underrated  1378675786
5       54      357                    Garath  1354417040
6       57      260           Science Fiction  1433167996
7      120   109374            cinematography  1445114894
8      157     7142                bad script  1362371627
9      157     7142                   no plot  1362371612
10     157    52975                 feel good  1362371683
11     157    52975               great music  1362371698
12     157    52975                   musical  1362371718
13     157    55267              large family  1362371415
14     157    55267                 realistic  1362371439
15     157    55267                  romantic  1362371491
16     157    55267              Steve Carell  1362371472
17     157    55267                 the music  1362371394
18     157    55872                 builds up  1362371915
19     157    55872   different but very good  1362371939
20     157    55872             love of music  1362371851
21     157    55872            power of music  1362371770
22     157    55872         thought-provoking  1362371764
23     157    55872                    unique  1362371792
24     157    55872  uplifting and compelling  1362371824
25     159    96481               documentary  1421441786
26     159    96481                 lifestyle  1421441786
27     159    96481               white trash  1421441786
28     159   114935                  mindfuck  1426364431
29     159   114935               time travel  1426364435