In [1]:
import pandas

In [2]:
dt = pandas.read_csv("./final.csv")

In [3]:
dt['mtitle']

0                          Toy Story
1                            Jumanji
2                   Grumpier Old Men
3                  Waiting to Exhale
4        Father of the Bride Part II
                    ...
34203                     Grand Slam
34204                     Bloodmoney
34205           The Butterfly Circus
34206                           Zero
34207          The 2000 Year Old Man
Name: mtitle, Length: 34208, dtype: object

In [16]:
for i in range(len(dt)):
    data = dt.iloc[i]
    if "Toy Story" in data['title']:
        print(data['title'])

Toy Story (1995)
Toy Story 2 (1999)
Toy Story 3 (2010)
Toy Story of Terror (2013)
Toy Story Toons: Hawaiian Vacation (2011)
Toy Story Toons: Small Fry (2011)
Toy Story Toons: Partysaurus Rex (2012)
Toy Story That Time Forgot (2014)

In [11]:
dt.time.unique()

array(['1995', '1994', '1996', '1976', '1992', '1988', '1967', '1993',
       '1964', '1977', '1965', '1982', '1985', '1990', '1991', '1989',
       '1937', '1940', '1969', '1981', '1973', '1970', '1960', '1955',
       '1959', '1968', '1980', '1975', '1986', '1948', '1943', '1950',
       '1946', '1987', '1997', '1974', '1956', '1958', '1949', '1972',
       '1998', '1933', '1952', '1951', '1957', '1961', '1954', '1934',
       '1944', '1963', '1942', '1941', '1953', '1939', '1947', '1945',
       '1938', '1935', '1936', '1926', '1932', '1979', '1971', '1978',
       '1966', '1962', '1983', '1984', '1931', '1922', '1999', '1927',
       '1929', '1930', '1928', '1925', '1914', '2000', '1919', '1923',
       '1920', '1918', '1921', '2001', '1924', '2002', '2003', '1915',
       '2004', '1916', '1917', '948)', '965)', '988)', '999)', '2005',
       '2006', '003)', '002)', '995)', '1902', '001)', '989)', '971)',
       'lon ', '1903', '2007', '006)', '2008', '980)', '008)', '007)',
       '2009', '1912', '2010', 'piel', '009)', '010)', '1913', '2011',
       '1898', '1899', '983)', '929)', '949)', '004)', 'poma', '011)',
       '1894', '937)', '986)', '970)', '998)', '2012', '972)', '005)',
       '928)', '909)', '984)', '978)', '1910', '1901', '976)', '993)',
       '1893', '967)', '2013', '1896', '968)', '985)', '977)', '973)',
       '994)', '997)', '938)', '962)', '950)', '012)', '990)', '963)',
       '013)', '958)', '957)', '956)', '2014', '09– ', '961)', '007-',
       '014)', '987)', '2015', 'dium', '1895', 'adge', '1909', 'bore',
       'stei', '1911', '1900', '2016', 'inso', 'arde', 'Worl', '1905',
       ' Nyr', 'nqui', ' Roa', 'Cial', 'gówn', ' Fal', 'n Ma', '1904',
       '1891', ' Ala', 'ille', 'akhn', 'Land', 'ittl', 'llar', 'oys ',
       'stic', 'tori', 'urus', 'Star', 'arit', 's/Al', 'Sara', '1892',
       '1908', '1897', 'azon', 'r On', 'pido', 'wing', 'roun', 'e Gu',
       'obot', 'auru', 'Viv', 'pait', 'Mhan', 'roma', 'Jatr', 'ebaa',
       'tefa', ' sai', ' Kar', ' Jee', 'Bloo', 'Ston', 'eopl', 'rrot',
       'atso', ' Agr', '1887', '1888', '1890', '1878', '1874', 'blic',
       'embe', ' Cod', '01次求', 'utur', 'ijda', ' Cag', ' Kid', ' Okn',
       'dvic', 'undr'], dtype=object)

In [15]:
dt[dt['time'] == '09– ']

,movieId,title,genres,mtitle,time,rating,keywords,combine_features
22471,107434,Diplomatic Immunity (2009– ),Comedy,Diplomatic Immunity (,09–,5.0,NaN,Diplomatic Immunity ( | (09– 5 Comedy Diplomat...